[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "rbenv-bundler"]
	path = rbenv-bundler
	url = https://github.com/carsomyr/rbenv-bundler.git
[submodule "rbenv-gemset"]
	path = rbenv-gemset
	url = https://github.com/jf/rbenv-gemset.git
[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "rbenv-ccache"]
	path = rbenv-ccache
	url = https://github.com/yyuu/rbenv-ccache.git
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug.git
